.burger__close {
  width: 32px;
  height: 32px;
  margin: auto 38px auto 0;
  background-color: #000D26;
  background-image: url(../../../images/header/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  border: none;
  cursor: pointer;
}