.block__description {
    width: 540px;
    box-sizing: content-box;
}


@media screen and (max-width: 1440px) {
    .block__description {
        width: 330px;
    }
}

@media screen and (max-width: 770px) {
    .block__description {
        width: 288px;
    }
}
