.partnership__cell_type_siemens {
  width: 201px;
  height: 30px;
}

@media screen and (max-width: 1250px) {
  .partnership__cell_type_siemens {
    width: 134px;
    height: 32px;
  }
}

@media screen and (max-width: 850px) {
  .partnership__cell_type_siemens {
    width: 84px;
    height: 20px;
  }
}
