.header__nav-logo {
  display: none;
}

@media screen and (max-width: 1000px) {
  .header__nav-logo {
    display: block;
    width: 95px;
    height: 32px;
    margin: auto 0 auto 39px;
    object-fit: cover;
  }
}

@media screen and (max-width: 430px) {
  .header__nav-logo {
    width: 71px;
    height: 24px;
    margin-left: 16px;  
  }
}