.card__bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    padding: 20px 0;
    width: 70px;
    background-color: #FFF;
    box-shadow: 0 4px 20px rgba(1, 54, 157, 0.15);
    border-radius: 50%;
}

@media screen and (max-width: 1440px) {
    .card__bubble {
        margin: 50px auto;
        padding: 0;
        width: 41px;
        height: 41px;
    }
}
