.card__bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 70px;
    height: 70px;
    background-color: #FFF;
    border-radius: 50%;
}

@media screen and (max-width: 1440px) {
    .card__bubble {
        width: 41px;
        height: 41px;
    }
}
