.footer__contacts{
  margin-left: 150px;
  width: 206px;
}

@media screen and (max-width: 1023px) {
  .footer__contacts {
    margin-left: 38px;
    margin-top: 80px;

  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-left: 0;
    margin-top: 40px;

  }
}