.card__button {
    position: relative;
    width: 215px;
    min-height: 40px;
    border: 1px solid #001337;
    background-color: rgba(0,0,0,0);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 50px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: inherit;
    cursor: pointer;
    z-index: 1;
}
