.card__title {
    width: 215px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: inherit;
    box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
    .card__title {
        width: 126px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .05px;
    }
}
