.popup__title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    color: #000D26;
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .popup__title {
        font-size: 14px;
        line-height: 19px;
    }
}

@media screen and (max-width: 770px) {
    .popup__title {
        grid-area: title;
        font-size: 14px;
        line-height: 19px;
    }
}

