.menu__links {
  display: flex;
  list-style-type: none;
  width: 825px;
  justify-content: space-between;
  margin: auto 0 auto 135px;
  padding: 0;
}

@media screen and (max-width: 1300px) {
  .menu__links {
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .menu__links {
    display: none;   
  }
}
