.header__menu-link {  
  min-width: 100px;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__menu-link:first-child {
	border-bottom: 2px solid #009FAC;
}